.Footer {
    background: url(../../media/pexels-cmonphotography-1809644.jpg) no-repeat center;
    background-size: cover;
    height: 30vh;
}

.icon {
    font-size: 75px;
}

.finFooter {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(35, 203, 237, 1) 30%, rgba(0, 134, 255, 1) 70%);
}